@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #43AFFC;
}

.wrapper {
    width: 400px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}