@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background-color: #88ABFF;
}
.wrapper{
    margin: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
    height: 250px;
    list-style: none;
    background-color: white;
    border-radius: 5px;
    padding: 15px 20px 20px;
}
.add-box, .icon , .bottom-content, .settings .menu li, .popup, header{
    display: flex;
    align-items: center;
  justify-content: space-around;
}
.add-box{
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.add-box .icon{
    height: 78px;
    width:78px;
    color: #88abff;
    font-size: 40px;
    border-radius: 50%;
    border: 2px dashed #88ABFF;
    justify-content: center;
}
.add-box p{
    color: #88abff;
    font-weight: 500;
    margin-top: 20px;
}
.wrapper .note{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.note .details{
    max-height:165px;
    overflow-y: auto;
}
.note p{
    font-size: 22px;
    font-weight: 500;
}
.note span{
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
}
.note .bottom-content{
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
.bottom-content span{
    color: #6d6d6d;
    font-size: 14px;
}
.bottom-content .settings i{
color: #6d6d6d;
font-size: 15px;
cursor: pointer;
}
.settings{
    position: relative;
}
.settings .menu{
    position: absolute;
    right: -5px;
    bottom: 0;
    padding: 5px 0;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0,0.15);
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease;
}
.settings.show .menu{
    transform: scale(1);
}
.settings .menu li{
    height: 25px;
    border-radius: 0;
    background: #f5f5f5;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 16px;
    padding: 17px 17px;
}
.menu li:hover{
    background: #f5f5f5;
}
.menu li i{
    padding-right: 8px;
}
.popup-box{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: rgba(0, 0, 0,0.4);
}
.popup-box .popup{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
  
    justify-content: center;
    transform: translate(-50%, -50%);
}
.popup-box, .popup-box .popup{
    opacity: 0;
    pointer-events: none;
}
.popup-box.show, .popup-box .popup{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.25s ease;
}
.popup .content{
    background: white;
    width: calc(100% - 15px);
    border-radius: 5px;
}
.popup .content header{
    border-bottom: 1px solid #ccc;
    padding: 15px 25px;
}
.content header p{
    font-size: 20px;
    font-weight: 500;
}
.content header i{
    color: #8b8989;
    font-size: 23px;
    cursor: pointer;
}
.content form{
    margin: 15px 25px 35px;
}
.content form .row{
    margin-bottom: 20px;
}
form .row label{
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}
.content form :where(input, textarea){
    width: 100%;
    border-radius: 4px;
    border: 1px solid #999;
    outline: none;
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
}
.content form textarea{
    height: 150px;
    resize: none;
    padding: 8px 15px;
}
.content form button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px;
    background: #6a93f8;
}
